/* @font-face allows us to embed custom fonts on our page
here we have the code snippet from css-tricks
which provides modern (but still very wide) browser support*/

@font-face {
  font-family: 'LunchType-Regular';
  src: url('../fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
      url('../fonts/lunchtype22-regular-webfont.woff') format('woff'),
      url('../fonts/lunchtype22-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'LunchType-Medium';
  src: url('../fonts/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
      url('../fonts/lunchtype24-medium-expanded-webfont.woff') format('woff'),
      url('../fonts/lunchtype24-medium-expanded-webfont.ttf') format('truetype');
}

.marquee,
.lunch-medium,
.date,
.lineup h2,
.button,
.register h2,
.submit {
  font-family: 'LunchType-Medium', Arial, Helvetica, sans-serif;
}
