.section {
  min-height: 100vh;
  display: flex;
  position: relative;
}

/* here we have a little helper class that adds padding to our sections that can be reused and just does one thing */
.section-pad {
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  max-width: 810px;
  margin: auto;
}

// INTRO SECTION
.intro {
  background-image: url('../assets/images/intro.jpg');
  color: #fff;

  p {
    font-size: 36px;
    line-height: 1.2;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  max-width: 112px;
  margin-right: auto;
  margin-left: auto;

  img {
    width: 100%;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  font-size: 5vw;
  overflow: hidden;

  span {
    animation: moveLeft 200s linear infinite;
    white-space: nowrap;
    display: block;
    position: relative;
  }
}

.mix-difference {
  mix-blend-mode: difference;
}

/*----------------------------------*/
.day {
  text-align: center;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }
}

.day-1 {
  background-color: #fd76A7;
}

.day-2 {
  background-color: #1bb190;
}

.day-3 {
  background-image: url('../assets/images/day-3.jpg');
}

.lineup {
  text-align: center;

  h2 {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 6px;
  }

  p {
    font-size: 21px;
  }

  li {
    margin-bottom: 24px;
  }
}

.date {
  font-size: 28px;
  color: #ffeecf;
  margin-bottom: 48px;
  line-height: 1;
}

// Arrow link
.scroll-to {
  position: absolute;
  left: 50%;
  bottom: 3vh;
  transform: translateX(-50%);

  width: 64px;
  height: 32px;

  background-image: url('../assets/images/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-to-intro {
  background-image: url('../assets/images/down-arrow-light.svg');
}